.Cart{
    width:100vw;
    height:auto;
    margin-bottom:100px;
}
.cartTitle{
    width:60vw;
    display:flex;
    justify-content: center;
    margin:20px 0px 20px 0px; 
}
.cartList{
    width:100vw;
    height:auto;
    display:flex;
    justify-content: center;
}
.cartList-grid{
    /* width:70vw; */
    display:flex;
    /* flex:1; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cartIsEmpty a{
    display:inherit;
    margin-left:70px;
}
.cartIsEmpty button{
    max-height:45px;
    max-width:300px;
    font-size: 15px;
    border-radius:5px;
    border:3px solid;
}
.cartIsEmpty button:hover{
    cursor:pointer;
    background-color: #c1c1c1;
    color:white;
}
.cartItem{
    width:90vw;
    height:auto;
    display:flex;
    flex:1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom:10px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.cartItem-imgContainer{
    height:300px;
    margin-left:10px;
    margin-right: 10px;
    display:flex;
    flex:1;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.cartItem-imgContainer img{
    max-height:300px; 
    max-width: 300px;
    width:25vw;
    display:flex;
}

.cartItem-info{
    height:auto;
    width:18vw; /*200px*/
    max-width:300px;
    margin-left:10px;
    margin-right:10px;
    padding-left: 5px;
    padding-right:5px;
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.cartItem-info-name{
    width:clamp(75px,10vw,200px);
}

.cartItem-info-name h1{
    font-size: clamp(15px, 3.5vw, 50px);
}

.cartItem-info-price{
    font-size: 25px;
    font-weight: 600;
    margin-bottom:5px;
}

.Trash{
    /* padding-right:70px; */
}
.Trash:hover{
    cursor:pointer;
    opacity:0.5;
}

.cartItem-controller{
    height:auto;
    width:10vw;    /*150px*/
    margin-left:10px;
    margin-right:10px;
    display:flex;
    align-items: center;
    justify-content: center;
    /* border:1px solid blue; */
}

.cartItem-controller .numericBtn{
    height:25px;
    width:25px;
    background-color: #e18a19;
    color:white;
    font-size: 18px;
    font-weight:700;
}

.cartItem-controller .numericBtn:hover{
    cursor:pointer;
    opacity:0.7;
}

.cartItem-controller input{
    text-align: center;
    height:20px;
    width:40px;
    font-size: 18px;;
}
.cartItem-Account{
    height:auto;
    width:15vw;    /*100px*/
    margin-left:20px;
    /* margin-right:10px; */
    /* border:1px solid red; */
    display:flex;
    align-items: center;
    justify-content: right;
}
.cartItem-Account h1{
    font-size: 1.5em;
}

.totalPrice{
    height:auto;
    width:70vw;
    display:flex;
    flex-direction: column;
    align-items: end;
    /* border:1px solid brown; */
}

.totalPrice button{
    height:40px;
    width:80px;
    display:flex;
    padding-right:0px;
    padding-left:15px;
    margin-right:0px;
    background-color: #e18a19;
    border-radius: 5px;
    font-size:18px;
    color:white;
}

.totalPrice button:hover{
    cursor:pointer;
    opacity:0.8;
}

.countText{
    height:auto;
    margin-top:6px;
}

.arrowRight{
    margin-top:7px;
}

@media only screen and (min-width:320px) and (max-width:600px){
    .Cart{
        width:100vw;
        height:auto;
        min-height: 100vh;
    }
    .cartTitle h1{
        font-size: clamp(32px,10vw,36px); /*max36*/
    }
    .cartList{
        width:inherit;
        height:auto;
    }
    .cartList-grid{
        width:inherit;
        height:auto;
        display:flex;
        justify-content: center;
    }
    .cartItem{
        width:95vw;
        height:auto;
        display:flex;
        flex:1;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom:10px; /*max10px*/
        font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .cartItem-imgContainer{
        width:clamp(100px,28vw,200px); /*max200px*/
        height:auto;
        min-height:clamp(160px,30vh,200px); /*200px*/
        margin:0px 5px;
        display:flex;
        flex:1;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .cartItem-imgContainer img{
        width:clamp(100px,30vw,200px);;
        height:auto;
        display:flex;
    }
    .cartItem-info{
        width:clamp(54px,16vw,108px); /* max 108px*/
        height:auto;
        margin:0px 5px;
        padding:0px;
        display:flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .cartItem-info-name{
        width:inherit;
        height:clamp(30px,8vh,50px);    /*max50px*/
        display:flex;
        align-items:center;
    }
    
    .cartItem-info-name h1{
        width:inherit;
        height:auto;
        font-size: clamp(14px,3.6vw,22px); /*max22px 3.6vw*/
        font-weight:700;
        padding-bottom:10px;
    }
    .cartItem-info-price{
        width:inherit;
        height:auto;
    }
    .cartItem-info-price span{
        font-size:clamp(14px,3.4vw,25px); /*max25px*/
        font-weight:600;
        margin-bottom:5px;
    }
    .Trash{
        width:inherit;
    }
    .Trash svg{
        width:20px; /*max20px*/
        height:20px;/*max20px*/
    }
    .cartItem-controller{
        width:clamp(60px,16vw,105px);    /*150px*/
        height:auto;
        margin:0px 5px;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .cartItem-controller .numericBtn{
        height:1.5em;    /*max30px*/
        width:1.5em;     /*max30px*/
        background-color: #e18a19;
        color:white;
        font-size: clamp(12px,4vw,24px);    /*max24px*/
        font-weight:700;
    }
    
    .cartItem-controller .numericBtn:hover{
        cursor:pointer;
        opacity:0.7;
    }
    
    .cartItem-controller input{
        text-align: center;
        height:1.5em;    /*max30px*/
        width:2em; /*max45px*/
        font-size: clamp(12px,3vw,22px);   /*max22px*/
        border:1px solid black;
    }
    .cartItem-Account{
        width:clamp(58px,16vw,120px);    /*max120px*/
        height:auto;
        margin:0px;
        display:flex;
        align-items: center;
        justify-content: right;
    }
    .cartItem-Account h1{
        font-size: clamp(11px,3vw,24px); /*max24px*/
    }
    .totalPrice{
        width:inherit;
        height:auto;
        display:flex;
        flex-direction: column;
        align-items: end;
        padding:0px 15px;
    }
    .totalPrice h2{
        font-size: clamp(16px,5vw,24px);
    }
    .totalPrice button{
        width:4.8em;     /*max80px*/
        height:2em;    /*max40px*/
        display:flex;
        align-items: center;
        justify-content: center;
        padding-right:0px;
        padding-left:15px; /*15px*/
        padding-bottom:10px;
        margin:0px;
        background-color: #e18a19;
        border-radius: 5px;
        font-size:clamp(14px,4vw,18px);     /*max18px*/
        color:white;
    }
    
}

@media only screen and (min-width:2600px){
    .Cart{
        margin-bottom:500px;
    }
}