.Cart{
    width:100vw;
    height:auto;
    min-height:100vh;
}
.cartTitle{
    width:60vw;
    display:flex;
    justify-content: center;
    margin:20px 0px 20px 0px; 
}
.cartTitle h1 {
    font-size: clamp(36px,3vw,72px);
}
.cartList{
    width:inherit;
    height:auto;
    display:flex;
}
.cartList-grid{
    width:inherit;
    height:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.cartIsEmpty{
    width:95vw;
    height:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.cartIsEmpty h1{
    display:flex;
    justify-content: center;
    font-size:clamp(25px,8vw,72px); 
}
.continueShop-container{
    width:inherit;
    height:auto;
    display:flex;
    justify-content: center;
    margin-bottom: 10px;
}
.continueShop-container a{
    height:auto;
    display:inherit;
    justify-content: center;
}

.continueShop-container .countinueShop{
    width:10em;   
    height:auto;
    font-size: clamp(25px,8vw,36px);
    border-radius:5px;
    border:3px solid black;
    text-decoration: none;
}
.cartIsEmpty button:hover{
    cursor:pointer;
    background-color: #c1c1c1;
    color:white;
}
.cartItem{
    width:95vw;
    height:auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom:10px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.cartItem-imgContainer{
    width:clamp(240px,40vw,600px);  /*max600px*/
    height:auto;
    min-height:clamp(200px,30vw,300px);
    margin: 0px 5px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.cartItem-imgContainer img{
    width:clamp(220px,17.5vw,450px);/*min220px max450px*/
    height:auto;
    display:flex;
}

.cartItem-info{
    width:clamp(108px,18vw,480px); /*min 108px max480px*/
    height:auto;
    margin:0px 5px;
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.cartItem-info-name{
    width:inherit;/*clamp(75px,10vw,200px)*/
}
.cartItem-info-name h1 {
    width: inherit;
    height: auto;
    font-size: clamp(15px, 3.5vw, 40px);
    font-weight:700;
    padding-bottom: 10px;
    margin-bottom:10px;
}

.cartItem-info-price{
    width: inherit;
    height: auto;
}
.cartItem-info-price span{
    font-size: clamp(20px, 3.4vw, 36px);/*min 20px*/
    font-weight: 600;
    margin-bottom: 5px;
}
.Trash{
    width: inherit;
}
.Trash svg{
    width: clamp(20px,3vw,36px);
    height: clamp(20px,3vw,36px);
}
.Trash:hover{
    cursor:pointer;
    opacity:0.5;
}
.cartItem-controller {
    width: clamp(96px, 16vw, 200px);
    height: auto;
    margin: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cartItem-controller .numericBtn {
    height: 1.4em;
    width: 1.4em;
    background-color: #e18a19;
    color: white;
    font-size: clamp(24px,4vw,36px);/*min 24px max36px*/
    font-weight: 700;
}

.cartItem-controller .numericBtn:hover{
    cursor:pointer;
    opacity:0.7;
}
.cartItem-controller input {
    text-align: center;
    height: 1.8em;
    width: 2em;
    font-size: clamp(18px,3vw,28px);
    border: 1px solid black;
}

.cartItem-Account {
    width: clamp(96px, 16vw, 300px);
    height: auto;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: right;
}
.cartItem-Account h1 {
    font-size: clamp(18px, 3vw, 48px);
}

.totalPrice{
    width: clamp(570px,95vw,1600px);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-bottom:5px;      
}

.totalPrice h2 {
    font-size: clamp(24px,4vw,60px);/*60px*/
}

.totalPrice button {
    width: 4.8em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0px;
    padding-left: 15px;
    padding-bottom: 10px;
    margin: 0px;
    background-color: #e18a19;
    border-radius: 5px;
    font-size: clamp(18px,3vw,30px);
    color: white;
}

.totalPrice button:hover{
    cursor:pointer;
    opacity:0.8;
}

.countText{
    height:auto;
    margin-top:6px;
}

.arrowRight{
    width:clamp(20px,3.4vw,40px);
    height:clamp(20px,3.4vw,40px);
    margin-top:7px;
}

@media only screen and (min-width:320px) and (max-width:600px){
    .Cart{
        width:100vw;
        height:auto;
        min-height: 100vh;
    }
    .cartTitle h1{
        font-size: clamp(32px,10vw,36px); /*max36*/
    }
    .cartList{
        width:inherit;
        height:auto;
    }
    .cartList-grid{
        width:inherit;
        height:auto;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .cartItem{
        width:95vw;
        height:auto;
        display:flex;
        flex:1;
        justify-content: center;
        align-items: center;
        margin-bottom:10px; /*max10px*/
        font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .cartItem-imgContainer{
        width:clamp(100px,28vw,200px); /*max200px*/
        height:auto;
        min-height:clamp(160px,30vh,200px); /*200px*/
        margin:0px 5px;
        display:flex;
        flex:1;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .cartItem-imgContainer img{
        width:clamp(100px,30vw,200px);;
        height:auto;
        display:flex;
    }
    .cartItem-info{
        width:clamp(54px,16vw,96px); 
        height:auto;
        margin:0px 5px;
        padding:0px;
        display:flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .cartItem-info-name{
        width:inherit;
        height:clamp(30px,8vh,50px);    /*max50px*/
        display:flex;
        align-items:center;
    }
    
    .cartItem-info-name h1{
        width:inherit;
        height:auto;
        font-size: clamp(14px,3.6vw,22px); /*max22px 3.6vw*/
        font-weight:700;
        padding-bottom:10px;
    }
    .cartItem-info-price{
        width:inherit;
        height:auto;
    }
    .cartItem-info-price span{
        font-size:clamp(14px,3.4vw,25px); /*max25px*/
        font-weight:600;
        margin-bottom:5px;
    }
    .Trash{
        width:inherit;
    }
    .Trash svg{
        width:20px; /*max20px*/
        height:20px;/*max20px*/
    }
    .cartItem-controller{
        width:clamp(60px,16vw,105px);    /*150px*/
        height:auto;
        margin:0px 5px;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .cartItem-controller .numericBtn{
        height:1.35em;    /*max30px*/
        width:1.35em;     /*max30px*/
        background-color: #e18a19;
        color:white;
        font-size: clamp(12px,4vw,24px);    /*max24px*/
        font-weight:700;
    }
    
    .cartItem-controller .numericBtn:hover{
        cursor:pointer;
        opacity:0.7;
    }
    
    .cartItem-controller input{
        text-align: center;
        height:1.5em;    /*max30px*/
        width:2em; /*max45px*/
        font-size: clamp(12px,3vw,22px);   /*max22px*/
        border:1px solid black;
    }
    .cartItem-Account{
        width:clamp(58px,16vw,120px);    /*max120px*/
        height:auto;
        margin:0px;
        display:flex;
        align-items: center;
        justify-content: right;
    }
    .cartItem-Account h1{
        font-size: clamp(11px,3vw,24px); /*max24px*/
    }
    .totalPrice{
        width:inherit;
        height:auto;
        display:flex;
        flex-direction: column;
        align-items: end;
        padding:0px 15px;
    }
    .totalPrice h2{
        font-size: clamp(16px,5vw,24px);
    }
    .totalPrice button{
        width:4.8em;     /*max80px*/
        height:2em;    /*max40px*/
        display:flex;
        align-items: center;
        justify-content: center;
        padding-right:0px;
        padding-left:15px; /*15px*/
        padding-bottom:10px;
        margin:0px;
        background-color: #e18a19;
        border-radius: 5px;
        font-size:clamp(14px,4vw,18px);     /*max18px*/
        color:white;
    }
    .continueShop-container .countinueShop{
        width:10em;   
        height:auto;
        font-size: clamp(16px,4vw,24px);
        border-radius:5px;
        border:3px solid black;
        text-decoration: none;
    }
}

@media only screen and (min-width:601px) and (max-width:1024px){
    .Cart{
        width:100vw;
        height:auto;
        min-height:100vh;
    }
}

@media only screen and (min-width:2600px){
    .Cart{
        margin-bottom:500px;
    }
}