.Footer {
  width:100vw;
  height:auto;
  background-color: #121619;
  display:flex;
  flex:1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

@media only screen and (max-width:600px){
  .Footer{
    width:clamp(360px,100vw,600px);
    height:auto;
    max-width:100vw;
  }
}

@media only screen and (min-width:2600px){
  .Footer{
    width:100vw;
    background-color: #121619;
    display:flex;
    flex:1;
    justify-content:center;
    align-items:center;
    flex-direction:column;
  }
}
@media only screen and (min-width:7500px){
  .Footer{
    width:100%;
    background-color: #121619;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
  }
}
.socialMedia{
  display:flex;
  align-items:center;
  justify-content:center;
  flex:1;
}
.socialMedia svg {
  color: white;
  margin: 20px;
  font-size: 30px;
  cursor: pointer;
}

.socialMedia svg:hover{
  cursor:pointer;
  opacity:0.85;
}

.copyright p{
  color: white;
}