*{
  box-sizing: border-box;
}
.navbar{
    width:auto;
    height:clamp(100px,15vw,200px);
    min-width:100vw;
    display:flex;
    flex-direction:row;
    background-color:#F5DEB3;
}
.navbar a{
  color:#5d5d5d;
  text-decoration: none;
  margin:20px;
}
.leftSide{
    flex:50%;
    height:100%;
    display:flex;
    align-items:center;
}

.leftSide img{
    width:clamp(140px,24vw,280px);
    height:clamp(135px,22vw,260px);
    margin-left:clamp(50px,8vw,150px);
}

.leftSide img:hover{
    opacity:0.8;
}
.rightSide{
    flex:50%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}
.rightSide a{
  font-size:clamp(20px,4.6vw,32px); 
}
.rightSide .ShoppingCart{
    width:clamp(32px,5.4vw,42px);
    height:clamp(32px,5.4vw,42px);
}

.rightSide a:hover{
    border-bottom: 2px solid black;
    transition: ease-out 0.3s;
    opacity:0.5;
}
.cartTotalAccounts{
  position:relative;
  height:1.5em;
  width:1.5em;
  right:clamp(40px,5vw,45px); /*min40px*/
  top:-18px;
  font-size:clamp(20px,2vw,22px);
  border:2px solid rgb(255, 51, 0);
  background-color: rgb(255,51,0);
  padding:3px;
  border-radius:50%;
  display:flex;
  align-items: center;
  justify-content: center;
}
.navbar .cartTotalAccounts span{
  color:white;
}

@media only screen and (max-width:319px){
  .navbar{
    width:100vw;
    height:auto;
  }
  .leftSide{
    height:inherit;
    min-width:100vw;
  }
  .leftSide img{
    display:none;
  }
  .hiddenToggle:hover{
    cursor:pointer;
    opacity:0.75;
  }
  #toggleInput{
    display:none;
  }
  input:checked ~ .hiddenLinks{
    max-width:450px;
    min-width:80%;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  .hiddenLinks{
    height:auto;
    display:flex;
    align-items: center;
    list-style:none;
    max-width:0px;
    overflow:hidden;
    transition: .5s;
    border-radius: 5px;
    padding:5px;
  }
  .hiddenLinks li{
    width:clamp(20px,25vw,150px);
    height:auto;
    display:flex;
    flex-direction: row;
  }
  .hiddenLinks a{
    color:#5d5d5d;
    text-decoration: none;
    margin:20px 5px;
  }
  .hiddenLinks a:hover{
    border-bottom: 2px solid black;
    transition: ease-out 0.3s;
    opacity:0.5;
  }
  .hidden_cartTotalAccounts{
    position:relative;
    height:20px;
    width:20px;
    right:50px; 
    top:-5px;
    border:2px solid rgb(255, 51, 0);
    background-color: rgb(255,51,0);
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .hidden_cartTotalAccounts hidden_totalNum{
    color:white;
  }
  .rightSide {
    display:none;
  }
  .rightSide button{
    display:inherit;
  }
  .rightSide a{
    color:yellow;
  }
}

@media only screen and (min-width:320px) and (max-width:600px){
  .navbar{
    width:clamp(320px,100vw,600px);
    height:auto;
    display:flex;
    flex-direction:row;
    background-color:#F5DEB3;
    padding:10px 0px;
  }
  .leftSide img{
    display:none;
  }
  .hiddenToggle:hover{
    cursor:pointer;
    opacity:0.75;
  }
  #toggleInput{
    display:none;
  }
  input:checked ~ .hiddenLinks{
    max-width:450px;
    min-width:220px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  .hiddenLinks{
    display:flex;
    align-items: center;
    list-style:none;
    max-width:0px;
    overflow:hidden;
    transition: .5s;
    border-radius: 5px;
    padding:5px;
  }
  .hiddenLinks li{
    width:clamp(50px,25vw,150px);
    display:flex;
    flex-direction: row;
    justify-content: center;
  }
  .hiddenLinks a{
    color:#5d5d5d;
    text-decoration: none;
    font-size:clamp(15px,5vw,20px);
  }
  .hiddenLinks a:hover{
    border-bottom: 2px solid black;
    transition: ease-out 0.3s;
    opacity:0.5;
  }

  .hidden_cartTotalAccounts{
    position:relative;
    width:1.5em;
    height:1.5em;
    font-size:clamp(12px,3.6vw,16px);
    right:35px; /*max35px*/
    top:14px;  /*max8px*/
    border:2px solid rgb(255, 51, 0);
    background-color: rgb(255,51,0);
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    
  }

  .hidden_cartTotalAccounts .hidden_totalNum{
    width:inherit;
    height:auto;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .rightSide {
    display:none;
  }
  
  .rightSide button{
    display:inherit;
  }

  .rightSide a{
    color:yellow;
  }
}

@media only screen and (min-width:601px) {
  .hiddenToggle{
    display:none;
  }
  #toggleInput{
    display:none;
  }
  .hiddenLinks{
    list-style: none;
  }
  .hiddenLinks a{
    display:none;
  }
  .hidden_cartTotalAccounts{
    display:none;
  }
}
